<h2>Template: Basics</h2>
<hr />

<div class="row">
  <div class="col">
    <!-- <form (ngSubmit)="save(myForm)" #myForm="ngForm" autocomplete="off">   we need to pass the reference with save function bc in comp.ts we don't have any reference to the form-->
    <!-- Once comp.ts has @ViewChild, the component has the reference to the form, we have no need to pass any value -->
    <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>

        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            [ngModel]="initForm.product"
            name="product"
            placeholder="Nombre del product"
            required
            minlength="3"
          />

          <span class="form-text text-danger" *ngIf="validName()">
            Must have 3 letters
          </span>
        </div>
      </div>

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            [ngModel]="initForm.price"
            name="price"
            placeholder="Precio del product"
            required
            min="0"
          />
          <span class="form-text text-danger" *ngIf="validPrice()">
            Price must be over 0
          </span>
        </div>
      </div>

      <!-- stock fields-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            [ngModel]="initForm.stock"
            name="stock"
            customMin
            [min]="0"
            placeholder="Product stock"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            [disabled]="myForm.invalid"
            class="btn btn-primary float-end"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>CustomDirective</span>
    <pre>{{ myForm.controls['stock']?.errors | json }}</pre>
  </div>
</div>
