<h2>Reactives: Basics</h2>
<hr>

<div class="row">
  <div class="col">

    <form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">

          <input type="text" class="form-control" formControlName="name" placeholder="Product Name">

          <span class="form-text text-danger" *ngIf="fieldIsValid('name')">
            It must have 3 letters at least
          </span>
        </div>
      </div>

      <!-- Product price -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="price" placeholder="Product Price">
          <span class="form-text text-danger" *ngIf="fieldIsValid('price')">
            The price must be 0 or greater
          </span>
        </div>
      </div>

      <!-- Stock field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stocks</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName="stock" placeholder="Product stock">

          <span class="form-text text-danger" *ngIf="fieldIsValid('stock')">
            The stock must to be 0 or greater
          </span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Save
          </button>
        </div>
      </div>



    </form>

  </div>
</div>




<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ myForm.valid }}</pre>

    <span>Pristine</span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched</span>
    <pre>{{ myForm.touched }}</pre>

    <span>Value</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Price</span>
    <pre>{{ myForm.controls['price']?.errors | json }}</pre>
  </div>
</div>
